:root {
  --bg-color: #e0e5ec;
  --shadow-color: #a3b1c6;
  --highlight-color: #ffffff;
  --text-color: #4a4a4a;
}
body{
  
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1;
}


button:focus {
  outline: none;
}
button{
  border-radius: 50px;
  box-shadow: 20px 20px 60px var(--shadow-color),
              -20px -20px 60px var(--highlight-color);
             
  background: var(--bg-color);
}
.pic {
  background: url("../../images/stock4.jpeg")
    no-repeat center center/cover;
    background-position: 0 80%;
  width: 60%;
  height: 90vh;
  border-radius: 10px;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: url("../../images/backgroundNotebook.jpeg"); */
  background: url("../../images/backgroundNotebook.jpeg");
 
}
.hero{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.toggle{
  display: block;
}

.content {
  width: 40%;
  text-align: center;
  padding: 50px;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #ecf0f1;
}
.content h1 {
  font-size: 60px;
  line-height: 1em;
  font-weight: 400;
  color: #c04e4e;
}
.content p {
  color: #863838;
}
.head {
  max-width: 80%;
  line-height: 3em;
  margin: 0;
  text-align: left;
  border-top: 3px solid #863838;
  padding-top: 20px;
}
.content button {
  padding: 10px;
  color: #c04e4e;
 border: none;
  background-color: #ecf0f1;
  cursor: pointer;
}
.content button:hover {
  color: #c04e4e;
  background: transparent;
  border: 2px solid #3a82af;
}

#banner{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent
;  text-align: center;
}
.banner-message{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  color: #863838;
  letter-spacing: .3em;
  animation: Banner 13s ease-in-out infinite;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 1119px) {
  .info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .content,
  .pic {
    width: 100%;
    background: url("../../images/stock4.jpeg")
    no-repeat center center/cover;
    background-image: blur(5px);
  }

  .hero{
    flex-direction: column;
  }
  .toggle{
    display: none;
  }
  .head{

  }
}
@media (max-width:400px)
{
  .content h1{
    font-size:35px;
    line-height:3rem;
    margin-bottom:1rem;
  }
  .content p{
    line-height:2rem;
  }
  .hero{
    flex-direction: column;
  }

}

@keyframes Banner {
  0% {
    transform: translateX(-90vw);
  }

  50% {
    transform: translateX(0vw);
  }

  100% {
    transform: translateX(80vw);
  }
}