* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {

}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  font-size: 18px;
}
#shop{
  fill: #c04e4e;
  width: 1.5rem;
  font-size: 12px;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1;
}
#home{
  fill: #c04e4e;
  width: 1.5rem;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}
#login{
fill: #c04e4e;
width: 1.5rem;
}

.nav {
  background-color: #ecf0f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.8rem;
  border-bottom: 2px solid #c04e4e;
}

.nav-container {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 2vh;
}
.nav-logo{
width: 8vw;
height: 100%;
margin-inline: 2rem;
margin-bottom: .9rem;
padding-top: 1vh;
animation: Grow 3s infinite; 
}

.links a:hover {
  border-color: var(--primaryLightColor)
}
.links a {
  background: var(--bg-color);
  border-radius: 50px;
  box-shadow: 20px 20px 60px var(--shadow-color),
              -20px -20px 60px var(--highlight-color);
  padding: 2px;
  transition: all 0.2s ease-in-out;
  margin-inline: 1rem;

}

.links {
  display: flex;
  justify-content: center;
}
.links li {
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-link{
  color: #3a82af;
  font-size: 12px;
    font-weight: 200;
    letter-spacing: -.01em;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1;
}

.cart-icon {
  margin-left: 8px;
  fill: #c04e4e;
  color: #c04e4e;
}

.login {
  
  font-weight: bold;
  color: #fff;
  background-color: var(--primaryDarkColor);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 2px solid transparent;

}

.login:hover {
  color: var(--primaryLightColor);
  background-color: transparent;
  border-color: #3aafa9;
}
.cart-icon:hover {
  filter: brightness(150%);
}

.user {
  display: flex;
  margin-bottom: 2px;
}
#user-login{
  display: none;
}

.nav-item {
  display: block;
  position: relative;
}
nav svg {
  width: 2rem;
  fill: #fff;
}
.amount-container {
  position: absolute;
  top: -0.68rem;
  right: -0.75rem;
  width: .62rem;
  height: 1.62rem;
  border-radius: 50%;
  background-color: #eaeaea76;
  display: flex;
  align-items: center;
  justify-content: center;
}
.total-amount {
  color: #c04e4e;
  margin-bottom: 0;
  font-size: .8rem;
}
.nav h1 {
  color: #3aafa9;
  font-family: cursive;
}

@media (min-width: 767px) {
  .nav-container {
    padding: 10px;
    display: flex;
  
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .links a:hover {
    border-color: var(--primaryLightColor)
  }


  .links {
    display: flex;
    justify-content: center;
  }
  .links li {
    padding: 10px;
    
  }
  .login {
    font-weight: bold;
    color: #c04e4e;
    background-color: var(--primaryColor);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid transparent;
  }
}

@media only screen and (max-width: 767px) and (min-width: 350px) {
  .links a:focus{
    border:none;
  }

  .nav-container{
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-logo{
    width: 20vw;
  }

  .links a {
    margin-inline: .5rem;
   }
}

@keyframes Grow {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
 
  100% {
    transform: scale(1);
  }
}