.social{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 1rem;
    margin-top: 1rem;
}
.social a i{
    height: 12px;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 7px;
    color:rgb(179, 37, 37);
    margin-top: .5rem;
}
.quotes{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 7px;
}

.icon{
    fill:#b32525;
}