:root {
  --primaryLightColor: #89b0b6;
  --primaryColor: #647955;
  --primaryDarkColor: #2f2f2f;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBackground: #f1f5f8;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainBlue: #3a82af;
  --mainBlack: #111d24;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainRed: #b32525;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  /* --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px; */
}



/* 
======
Splash
======
*/
#splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100vh;
  background-color: #3d3d42;
  color: white;
  font-size: 2rem;
  text-align: center;
}

#main-content{
  display: none;
}


/* 
====== 
Global Styles 
======
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--mainBlack);
  background: var(--mainBackground);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}

h5,
h6 {
  font-family: var(--slantedFont);
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
p {
  margin-bottom: 1.25rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--mainBlack);
}
img {
  width: 100%;
  display: block;
}

.about-section {
  width: var(--smallWidth);
  max-width: var(--maxWidth);
  margin: 0 auto;
}
.about-section p {
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
}
button{
  border-radius: 10px;
}

/* 
====== 
Error
======
*/
.error-page {
  display: flex;
  justify-content: center;
}
.error-container {
  text-align: center;
  text-transform: capitalize;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-prod {
  padding: 20px;
}
.section {
  padding: 5rem 0;
}
.section-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}

@media screen and (min-width: 576px) {

}


.add-cart:hover{
  background-color: #8ca5d7;
}
.add-cart {
  color: #fff;
  background: var(--primaryDarkColor);
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

.prod-details button {
  border: none;
  cursor: pointer;
}
.prod-details {
  color: #444;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  border: 2px solid #444;
  background-color: transparent;
}

.amount {
  display: flex;

  align-items: center;

  padding: 5px;
  justify-content: center;
}


.prod-button {
  display: flex;
  justify-content: space-between;
}
.prod-photo {
  height: 80vh;
  width: 100%;
  object-fit: cover;
}

/* 
====== 
Form
======
*/
.search {
  margin-top: 1rem;
  padding-bottom: 0;
}

.search-form {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--maxWidth);
  background: var(--mainWhite);
  padding: 2rem 2.5rem;
  text-transform: capitalize;
  border-radius: var(--mainBorderRadius);
  box-shadow: var(--lightShadow);
}

.form-control label {
  display: block;
  margin-bottom: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  color: var(--primaryColor);
}
.form-control input {
  width: 100%;
  border: none;
  border-color: transparent;
  background: var(--mainBackground);
  border-radius: var(--mainBorderRadius);
  padding: 0.5rem;
  font-size: 1.2rem;
}
/* 
====== 
Cocktail
======
*/

.cocktail-section {
  text-align: center;
}
.drink {
  width: var(--smallWidth);
  max-width: var(--fullWidth);
  margin: 0 auto;
  text-align: left;
}
.drink img {
  border-radius: var(--mainBorderRadius);
}
.drink p {
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.8;
}
.drink span {
  margin-right: 0.5rem;
}
.drink-data {
  background: var(--primaryLightColor);
  padding: 0.25rem 0.5rem;
  border-radius: var(--mainBorderRadius);
  color: var(--primaryColor);
}
.drink-info {
  padding-top: 2rem;
}
@media screen and (min-width: 992px) {
  .drink {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 3rem;
    align-items: center;
  }
  .drink-info {
    padding-top: 0;
  }
}
.loader,
.loader:before,
.loader:after {
  background: transparent;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: var(--primaryColor);
  text-indent: -9999em;
  margin: 88px auto;
  margin-top: 20rem;
  position: relative;
  font-size: 3rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/*cart*/

.link-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 20px;
}
.link-btn {
  background: transparent;
  border-color: transparent;
  padding: 0.25rem 0.5rem;
  background: #3aafa9;
  color: var(--clr-white);
  border-radius: var(--radius);
  font-weight: 400;
  cursor: pointer;
}
.clear-btn {
  background: var(--clr-black);
}

.cart-total-checkout {
  justify-content: center;
  display: grid;
  margin-top: 0.5rem;
  padding: 1rem 1rem;
}
.cart-total-checkout h3 {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #3aafa9;
}
.cart-total-checkout span {
  color: #444;
}
